
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>

    Sou o controller @ViewBag.Controller

    <br />

    Sou a action @ViewBag.Action

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            alert("teste");
        });
    </script>
    }
